SECRET_KEY=

DEBUG=True

DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#upstox details
USER_ID=
CLIENT_ID=
CLIENT_SECRET=

SANDBOX_CLIENT_ID=
SANDBOX_CLIENT_SECRET=
REDIRECT_URI=

SANDBOX_ACCESS_TOKEN=

#upstox urls
LOGIN_URL=https://api.upstox.com/v2/login/authorization/dialog
AUTHORISATION_URL=https://api.upstox.com/v2/login/authorization/token
INTRADAY_DATA_URL=https://api.upstox.com/v3/historical-candle/intraday
HISTORICAL_DATA_URL=https://api.upstox.com/v3/historical-candle


PLACE_ORDER=https://api-sandbox.upstox.com/v3


INDEX=nifty.csv
OPTION=option.csv